.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #10898d;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-buttons .nav-btn {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color:  #10898d;
}

.nav-buttons .nav-btn:hover {
  background-color:  #a6eff2;
}
